.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
out/
.DS_Store
