version: 2.0

jobs:
    build:
        docker:
            - image: cimg/openjdk:17.0
        working_directory: ~/repo
        environment:
            JVM_OPTS: -Xmx4096m
            TERM: dumb
        steps:
            - checkout
            - restore_cache:
                keys:
                    - v1-dependencies-{{ checksum "build.gradle" }}
                    - v1-dependencies-
            - run:
                name: Download dependencies
                command: GRADLE_OPTS="-Xms256m -Xmx1024m" ./gradlew dependencies --no-daemon
            - save_cache:
                paths:
                    - ~/.m2
                key: v1-dependencies-{{ checksum "build.gradle" }}
            - run:
                name: Run tests
                command: GRADLE_OPTS="-Xms256m -Xmx2048m" ./gradlew build --no-daemon --scan
            - run:
                name: Code coverage
                command: GRADLE_OPTS="-Xms256m -Xmx1024m" ./gradlew jacocoTestReport coveralls --no-daemon --scan
            - run:
                name: Save reports
                command: |
                    mkdir -p ~/results/unit
                    mkdir -p ~/reports/unit
                    find . -type f -regex "./build/test-results/test/.*xml" -exec cp {} ~/results/unit \;
                    cp -r build/reports/tests/test/* ~/reports/unit

                    mkdir -p ~/results/functional
                    mkdir -p ~/reports/functional
                    find . -type f -regex "./build/test-results/functionalTest/.*xml" -exec cp {} ~/results/functional \;
                    cp -r build/reports/tests/functionalTest/* ~/reports/functional
                when: always
            - store_test_results:
                path: ~/results
            - store_artifacts:
                path: ~/reports

    publish:
        docker:
            - image: cimg/openjdk:17.0
        working_directory: ~/repo
        environment:
            JVM_OPTS: -Xmx3200m
            TERM: dumb
        steps:
            - checkout
            - restore_cache:
                keys:
                    - v1-dependencies-{{ checksum "build.gradle" }}
                    - v1-dependencies-
            - run:
                name: Download dependencies
                command: GRADLE_OPTS="-Xms256m -Xmx1024m" ./gradlew dependencies --no-daemon
            - save_cache:
                paths:
                    - ~/.m2
                key: v1-dependencies-{{ checksum "build.gradle" }}
            - run:
                name: Publish plugin
                command:
                    GRADLE_OPTS="-Xms256m -Xmx1024m" ./gradlew clean publishPlugins --no-daemon --scan
                    -Pgradle.publish.key=${GRADLE_PUBLISH_KEY}
                    -Pgradle.publish.secret=${GRADLE_PUBLISH_SECRET}

workflows:
    version: 2
    build-and-publish:
        jobs:
            - build
            - publish:
                requires:
                    - build
                filters:
                    branches:
                        only: master
